$orange: #FF7245;
$orange-light: #FFD5C7;
$blue: #9CB1B9;
$blue-light: #E2E7E9;
$green: #92A093;
$green-light: #DFE2DE;
$neutral-light: #ECECF1;
$neutral-off-white: #FEFEFE;
$neutral-white: #FFFFFF;
$neutral-dark: #737373;
$neutral-very-dark: #3A3636;
$beige-1: #DEDACD;
$beige-2: #ECE7E2;
$beige-3: #FCF6EE;