@import 'sass/colors.scss';

.tam-sign_vector {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.tam-sign_vector_cntr {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tam-sign_vector_img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}