@import 'sass/colors.scss';
@import 'sass/gradients.scss';

.sign_products-carousel {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: $neutral-off-white;
}

.sign_products-carousel_bkgd {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $gradient-products-bkgd-1;
}

.sign_products-carousel_ctnr {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 3rem;
    right: 0;
    bottom: 3rem;
    background: transparent;
}

.sign_products-carousel_ctnr[data-card-cnt="1"] {
    padding: 0 20rem;
}

.sign_products-carousel_cards {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    max-height: 100%;
    width: 100%;
    transform: translateY(-50%);
    font-size: 1.3rem;
}