@import 'sass/colors.scss';
@import 'sass/gradients.scss';

.tam-sign_products {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: $neutral-off-white;
}

.tam-sign_products_bkgd {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $gradient-orange-1;
}

.tam-sign_products_ctnr {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 3rem;
    top: 3rem;
    right: 3rem;
    bottom: 3rem;
    background: transparent;
}

.tam-sign_products_ctnr[data-card-cnt="1"] {
    padding: 0 20rem;
}

.tam-sign_products_ctnr[data-card-cnt="3"] {
    .tam-sign_products_cards {
        font-size: 0.9rem;
    }
}

.tam-sign_products_cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    height: max-content;
    max-height: 100%;
    transform: translateY(-50%);
    font-size: 1.3rem;
}

.tam-sign_products_card-wrapper {
    flex: 1;
    flex-basis: 30em;
    margin: 0 1em;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &.size-small {
        flex-basis: 20em;
    }

    &.size-large {
        flex-basis: 40em;
    }
}