@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato-regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato-italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato-thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato-thin-italic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato-light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato-light-italic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato_bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato_bold.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato_black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/lato_black-italic.ttf);
    font-weight: 900;
    font-style: italic;
}

:root {
    --orange: 255, 114, 69;
    --orange-light: 255, 213, 199;
    --blue: 156, 177, 185;
    --blue-light: 226, 231, 233;
    --green: 146, 160, 147;
    --green-light: 223, 226, 222;
    --neutral-light: 236, 236, 241;
    --neutral-off-white: 254, 254, 254;
    --neutral-white: 255, 255, 255;
    --neutral-dark: 115, 115, 115;
    --neutral-very-dark: 58, 54, 54;
    --beige-1: 222, 218, 205;
    --beige-2: 236, 231, 226;
    --beige-3: 252, 246, 238;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 1vw;
    font-weight: 100;
    color: rgb(var(--neutral-very-dark));
    background: rgb(var(--neutral-white));
    overflow: hidden;
}

.tam-sign_products_bkgd {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--blue),0.5);
    background: linear-gradient(44deg, rgba(var(--blue),0) 0%, rgba(var(--blue),0.2) 30%, rgba(var(--blue),0) 60%, rgba(var(--blue),0.8) 100%);
}

.tam-sign_products_ctnr {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tam-sign_products_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 3rem;
    background: transparent;
    opacity: 0;
}

.tam-sign_products_page[data-is-visible="1"] {
    opacity: 1;
}

.tam-sign_products_page[data-card-cnt="1"] {
    padding: 0 20rem;
}

.tam-sign_products_cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.3rem;
}

.tam-sign_products_page[data-card-cnt="3"] .tam-sign_products_cards {
    font-size: 0.9rem;
}

.tam-sign_products_card {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 30em;
    margin: 0 1em;
    background-color: rgb(var(--neutral-off-white));
    -webkit-box-shadow: 0 0 2rem -1rem rgb(var(--neutral-dark));
    -moz-box-shadow: 0 0 2rem -1rem rgb(var(--neutral-dark));
    box-shadow: 0 0 2rem -1rem rgb(var(--neutral-dark));
}

.tam-sign_products_card:first-child {
    margin-left: 0;
}

.tam-sign_products_card:last-child {
    margin-right: 0;
}

.tam-sign_products_card.size-small {
    flex-basis: 20em;
}

.tam-sign_products_card.size-large {
    flex-basis: 40em;
}

.tam-sign_products_card[data-transp-bkgd="1"] {
    background-color: transparent;
}

.tam-sign_products_card_header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background-color: rgb(var(--orange));
}

.tam-sign_products_card_logo {
    display: none;
    position: absolute;
    left: 2em;
    bottom: -0.75em;
    width: 4em;
    height: 4em;
    background-image: url(../../../assets/svg/tam-compass.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tam-sign_products_card[data-has-logo="1"] .tam-sign_products_card_logo {
    display: block;
}

.tam-sign_products_card_title {
    position: relative;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--neutral-off-white));
}

.tam-sign_products_card_content {
    flex: 1;
    padding: 1.5em;
}

.tam-sign_products_card[data-transp-bkgd="1"] .tam-sign_products_card_content {
    border: 1px solid rgba(var(--neutral-dark),0.4);
    border-top: none;
}

.tam-sign_products_card_info {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid rgb(var(--neutral-light));
}

.tam-sign_products_card_info_title {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--orange));
}

.tam-sign_products_card_info_sub-title {
    margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: rgb(var(--neutral-dark));
}

.tam-sign_products_card_info_desc {
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: 100;
    text-align: center;
}

.tam-sign_products_card_items {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-auto-rows: max-content;
    grid-gap: 1em;
}

.tam-sign_products_card_items[data-price-cols="2"] {
    grid-template-columns: 1fr max-content max-content;
}

.tam-sign_products_card_item {
    display: contents;
}

.tam-sign_products_card_item_col {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase
}

.tam-sign_products_card_item_col.head {
    font-weight: 600;
    font-variant-caps: all-small-caps;
    color: rgb(var(--orange));
}

.tam-sign_products_card_item_col.price {
    text-align: right;
}

.tam-sign_products_card_content_disclaimer {
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: 100;
    text-transform: uppercase;
}

.tam-sign_products_card_content_disclaimer_item {
    margin-top: 0.3em;
}

.tam-sign_products_card_content_disclaimer_item:first-child {
    margin-top: 0;
}